* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
}

/* Responsive */

.grid {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid-container-2-10 {
  display: grid;
  grid-template-columns: 20% 80%;
}

.grid-container-3-3-3-3 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 10px;
  row-gap: 20px;
}

/* End Responsive */
