* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
}

/* Responsive */

.grid {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid-container-2-10 {
  display: grid;
  grid-template-columns: 20% 80%;
}

.grid-item-10 {
  width: 100%;
}

.grid-container-3-3-3-3 {
  width: 100%;
  display: grid;
  grid-template-columns: calc((100% - 30px) / 4) calc((100% - 30px) / 4) calc((100% - 30px) / 4) calc((100% - 30px) / 4);
  column-gap: 10px;
  row-gap: 20px;
}

/* End Responsive */

/* Scroll bar */

/* Ẩn thanh cuộn */
.scrollbar {
  /* scrollbar-width: none; */
  -ms-overflow-style: none; /* Ẩn thanh cuộn trên IE/Edge */
}

/* Chỉ hiển thị điểm trên thanh cuộn */
/* .scrollbar::-webkit-scrollbar {
  display: none;
} */

/* CSS cho thanh scroll */
::-webkit-scrollbar {
  width: 10px; /* Chiều rộng của thanh scroll */
}

/* CSS cho các track (vùng bên ngoài của thanh scroll) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Màu nền của track */
}

/* CSS cho thumb (thanh cuộn) */
::-webkit-scrollbar-thumb {
  background: #888; /* Màu nền của thumb */
  border-radius: 5px; /* Độ cong của thumb */
}

/* CSS cho thumb khi hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Màu nền của thumb khi hover */
}
